/* This CSS stylesheet defines styles used by customized PrimeNG DataGrid (key-value cells) */

.divTable
{
    display: table;
    background-color: #fff;
    background-color: #eee;
    border-spacing: 5px;
}

.divRow
{
    display: table-row;
    width: 280px;
    float: left;
    padding: 3px;
}

.divCell
{
    float: left;
    display: table-column;
    width: 136px;
    padding: 2px;
    background-color: #fff;
}

.align-left{
    text-align:left;
    float: left;
}
.align-right{
    text-align: right;
}
